body {
    background-color: black; 
    position: static;
}

#header {
    width: 100%;
    height: 110vh; 
    background-image: url(/me.jpg);
    background-size: 30% auto;
    background-position: right center;
    background-repeat: no-repeat;
    background-color: black;
}

html {
    scroll-behavior: smooth;
}

h1 {
    color: white; 
}

ul {
    color: white; 
}

.container {
    padding: 10px 20%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    text-align: right;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 20px 40px; 
}

nav ul li a {
    color: #fff; 
    text-decoration: none;
    font-size: 18px; 
    position: relative;
}

nav ul li a::after {
    content: ''; 
    width: 0%; 
    height: 3px; 
    background: red;
    position: absolute;
    left: 0;
    bottom: -6px; 
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}

.header-text p {
    color: white;
    font-size: 40px; 
    font-weight: 600; 
    margin: 0;
}

.header-text {
    margin-top: 13%;
    font-size: 30px;
    padding-left: 60px;
}

.header-text h1 {
    font-size: 60px;
    margin-top: 20px;
}

.header-text h1 span {
    color: #ff0000; 
}

/* About Section */

#about {
    margin-top: 60px; 
    color: #ababab; 
    justify-content: center;
    flex-wrap: wrap;
}

#about .about-col-1 {
    margin-top: 50px; 
    margin-bottom: 200px;
}

#about .sub-title {
    margin-bottom: 50px;
    margin-top: 150px;
}

#about .container .row .about-col-1 h1 {
    text-align: center;
    font-size: 50px;
    color: red; 
}

#about .container .row .about-col-1 p {
    padding-left: 120px; 
    color: white; 
    font-size: 30px; 
    padding-right: 120px; 
}

/* Portfolio Section */

#portfolio .container h1 {
    text-align: center;
    font-size: 50px;
    color: red; 
    padding-top: 1px;
}

#portfolio {
    margin-bottom: 140px; 
}

#portfolio .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#portfolio .work-list {
    display: flex;
    justify-content: center;
    width: 100%;
}

#portfolio .work {
    display: flex;
    justify-content: center;
    width: 100%;
}

#portfolio .projects ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#portfolio .projects ul li {
    margin: 10px 0;
}

#portfolio .projects ul li a {
    text-decoration: none;
    color: white; 
    font-size: 30px;
    text-align: center;
}

/* Contact Section */

#contact .container .row .contact-left .sub-title {
    text-align: left;
    font-size: 50px; 
    padding-left: 30px; 
    margin-top: -6px; 
}

#contact .container {
    color: white; 
}

#contact .container .row .contact-left .social-icons a {
    font-size: 30px; 
    margin-right: 15px; 
}

.contact-left {
    flex-basis: 35%;
}

.contact-right {
    flex-basis: 60%;
}

.contact-left p {
    margin-top: 40px;
    margin-left: 30px; 
}

.contact-left p i {
    color: red;
    margin-right: 15px; 
    font-size: 25px;
}

.social-icons {
    margin-top: 30px;
}

.social-icons a {
    text-decoration: none;
    margin-right: 10px; 
    margin-left: 30px; 
    color: #ababab;
    display: inline-block;
    transition: transform 0.3s;
}

.social-icons a:hover {
    color: red; 
    transform: translateY(-6px);
}

.btn.btn2 {
    display: inline-block;
    background-color: red;
    font-size: 20px; 
    border-radius: 5px;
    color: black; 
    cursor: pointer;
    border: none; 
    margin-top: 20px; 
    margin-bottom: 40px;
}

.contact-right form {
    width: 100%;
}

form input, form textarea {
    width: 90%; 
    border: 0; 
    outline: none; 
    padding: 15px; 
    margin: 15px 0; 
    color: #fff; 
    background: #262526; 
    border-radius: 6px;
}

.row {
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-between;
}

.copyright {
    width: 100%; 
    text-align: center;
    padding: 20px 0;
    background: #262626;
    font-weight: 300; 
    margin-top: 20px;
}

/* Media Queries for Responsiveness */

/* Medium Screens */
@media only screen and (max-width: 1200px) {
    nav ul li {
        margin: 10px 20px;
    }

    .header-text p {
        font-size: 35px;
    }

    .header-text h1 {
        font-size: 50px;
    }

    .header-text {
        padding-left: 40px;
    }
}

/* Small Screens */
@media only screen and (max-width: 800px) {
    nav {
        justify-content: center;
    }

    .header-text p {
        font-size: 30px;
    }

    .header-text h1 {
        font-size: 40px;
    }

    .header-text {
        margin-top: 10%;
        padding-left: 20px;
    }

    #header {
        background-size: 40% auto;
    }
}

/* Extra Small Screens */
@media only screen and (max-width: 600px) {
    .container {
        padding: 10px;
    }

    nav ul li {
        margin: 10px;
    }

    .header-text p {
        font-size: 25px;
    }

    .header-text h1 {
        font-size: 35px;
    }

    .header-text {
        margin-top: 8%;
        padding-left: 10px;
    }

    #header {
        height: 100vh;
        background-size: cover;
        background-position: center;
    }

    nav ul li a {
        font-size: 16px;
    }
}

#msg {
    color: #61b752; 
    margin-top: -40px; 
    display: block;
}
